.glass-navbar {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid #ffffff;
}

html[data-bs-theme="dark"] .glass-navbar {
  background: rgba(0, 0, 0, 0.6) !important;
}

html[data-bs-theme="light"] .glass-navbar {
  background: rgba(255, 255, 255, 0.5) !important;
}
