<nav class="navbar navbar-expand glass-navbar" style="height: 60px">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="[routes.HOME]">
      <img
        src="/logo.png"
        alt="Travel Blog Logo"
        style="height: 120px; width: auto; margin-bottom: -60px; z-index: 1000"
      />
    </a>
    <div class="navbar-nav flex flex-row gap-3">
      <a class="nav-link" [routerLink]="[routes.HOME]">Home</a>
      <a class="nav-link" [routerLink]="[routes.ISLANDS]">Islands</a>
      <a class="nav-link" [routerLink]="[routes.ABOUT]">About</a>
    </div>
    <div class="ms-auto">
      <app-theme-toggle />
    </div>
  </div>
</nav>
