.inter-tight-100 {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.inter-tight-200 {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.inter-tight-300 {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.inter-tight-400 {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-tight-500 {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.inter-tight-600 {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.inter-tight-700 {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.inter-tight-800 {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.inter-tight-900 {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* Global font family setup */
body {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* Optional: Apply to all elements */
* {
  font-family: "Inter Tight", sans-serif;
}

html[data-bs-theme="dark"] body {
  background-color: #000000 !important;
}

html[data-bs-theme="light"] body {
  background-color: #ffffff !important;
}